<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449510218397-eb72f7hufnlhgknb9pk76s5rj17cvnim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449510218397-eb72f7hufnlhgknb9pk76s5rj17cvnim</string>
	<key>API_KEY</key>
	<string>AIzaSyCosME24oGxhiFpvAy2X-FDbhbw5zpAsAU</string>
	<key>GCM_SENDER_ID</key>
	<string>449510218397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viettel.mytelpay.cse</string>
	<key>PROJECT_ID</key>
	<string>mytelpay-3689</string>
	<key>STORAGE_BUCKET</key>
	<string>mytelpay-3689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449510218397:ios:dce47fe110e292bf</string>
	<key>DATABASE_URL</key>
	<string>https://mytelpay-3689.firebaseio.com</string>
</dict>
</plist>